.section {
  padding-bottom: 40px;
  padding-top: 40px;
}
.main-heading {
  color: rgb(18, 92, 204);
}
.underline {
  height: 04px;
  width: 4rem;
  background-color: #2fc8f7;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .bg-c-light {
  background-color: #f2f2f2;
} */
